.ant-collapse-header[aria-expanded="true"] {
    font-weight: bold;
}

.container {
    margin: 0 1em;
}

.fixContent {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.scrollableContent {
    position: relative;
    margin-top: 5.5rem;
}

.searchInput {
    width: 98%;
}
